html{
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #0E0D0D ;
  background-blend-mode: multiply;
}
/* header styles */
header{
  background-image: url("imgs/portada.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  padding-top: 0.5rem;
  color: white;
  font-family: 'Kalam', sans-serif;
  line-height: 20px;
}

header ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header h2{
  font-size: 35px;
  text-align: center;
}

/* styles nav */
.menu1{
  padding-top: 0.5rem;
  height: 100px;
}
/* iconos style  */
.iconos{
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
nav a:hover{
  color: #CD5C5C;
  text-decoration: underline;
  line-height: 4px;
  transition: 0.7s;
}

hr{
  width: 800px;
}
/* TITULO  */
header h1{
  margin-top: 200px;
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* menu hamburguesa fijo izquierda */
.navegador{
  width: 800px;
  margin: 0 auto;
  color: white;
}
.navegador i:hover{
  color: #CD5C5C;
  transition: 0.6s;
}
.listahamburguesa{
  display: none;
  justify-content: space-around;
  list-style: none;
}
.listahamburguesa a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.listahamburguesa a:hover{
  color: #CD5C5C;
  text-decoration: underline;
  transition: 0.7s;
}

/* saludo y presentacion */
.saludo{
  width: 800px;
  margin: 0 auto;
}
.saludo h1{
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Kalam', sans-serif;
}
.saludo p{
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 25px;
  justify-content: center;
}
/* section class proyectos */
.proyecto1 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  padding-top: 0.5rem;
  color: white;
  font-family: 'Kalam', sans-serif;
  line-height: 20px;
}
.proyecto2 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  padding-top: 0.5rem;
  color: white;
  font-family: 'Kalam', sans-serif;
  line-height: 20px;
}
.proyecto3 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  padding-top: 0.5rem;
  color: white;
  font-family: 'Kalam', sans-serif;
  line-height: 20px;
}
.proyecto h1{
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 2px;
  font-size: 40px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.proyecto img{
  width: 800px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  background-size: cover;
  justify-content: center;
  padding-bottom: 1em;
}
.proyecto p{
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}
/* section class skills */
.skills{
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  margin-bottom: 50px;
}
.skills__cont{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.skills__cont h1{
  font-family: 'Kalam', sans-serif;
  font-size: 30px;
  color: 	white	;
  text-shadow: 1px 1px 2px;
}
.skills__cont img{
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.skills__ul {
  width: 300px;
  display: inline-block;
  margin: 30px;
}
.skills__ul li{
  color: #fff;
  margin-top: 10px;
}
/* section post de rellenos por mientras*/
.post{
  width: 70%;
  margin: 0 auto;
}
/* footer style */
footer{
  height: 100px;
  color: white;
  font-family: 'Kalam', sans-serif;
  line-height: 20px;
  display: block;
  justify-content: center;
  align-items: center;
}
footer h2{
  display: flex;
  justify-content: center;
}
footer ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

footer ul li{
  font-size: 20px;
  margin-right: 30px;
}